@charset 'UTF-8';

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: cover;
    background-attachment: fixed;

}

main{
    height: 100vh;
    position: relative;
    
}

section#telefone{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 600px;
    width: 299px;

    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    
}

iframe#tela{
    position: relative;
    top: 18.8%;
    left: 15%;

    width: 70%;
    height: 62%;

    border-radius: 6px;
   
}

section#redes-sociais{
    float: right;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

section#redes-sociais img{
    width: 45px;
    margin: 10px;
    
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.722);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    float: right;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.604);
    transition-duration: 0.1s;
    box-shadow: 5px 5px 10px black;
    transform: scale(95%);

}